@import 'variables';

.gallery {
  min-height: 100vh;

  h1 {
    margin: 6rem 0;
  }

  p {
    text-align: center;
  }

  &__container {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 28rem;
    grid-auto-flow: dense;
    margin: 6rem 0;
  }

  &__container > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__container > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__imgContainer {
    position: relative;
    box-shadow: $sha;

    img {
      display: inline-block;
      max-width: 100%;
      height: auto;
      vertical-align: middle;
    }
  }

  &__container &__tall {
    grid-row: span 2;

    @include respond(phone) {
      grid-row: span 1;
    }
  }

  &__container &__wide {
    grid-column: span 2;

    @include respond(phone) {
      grid-column: span 1;
    }
  }

  &__container &__big {
    grid-column: span 2;
    grid-row: span 2;

    @include respond(phone) {
      grid-row: span 1;
      grid-column: span 1;
    }
  }
}
