@import 'variables';

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;

  &::before,
  &::after {
    content: '';
    display: flex;
    background: $dark;
    width: 13rem;
    height: 0.02rem;
    justify-content: center;
    align-items: center;
  }

  &::before {
    justify-self: start;
  }

  img {
    position: absolute;
  }
}
