@import 'variables';

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.welcome {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;

  @include respond(tab-port) {
    flex-direction: column;
  }

  &__left {
    flex: 2;
    text-align: left;
    display: flex;
    flex-direction: column;

    h1 {
      color: $sec;
      padding-bottom: 3rem;
    }
  }
  &__right {
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 30rem;
  }
}
