@import 'variables';

.customers {
  margin: 7rem 0;
  width: 100%;

  h1 {
    text-align: center;
  }

  &__slider {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__card {
    width: 40rem;
    height: 36rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h2 {
      position: absolute;
      bottom: -4rem;
      width: 100%;
      text-align: center;
      color: $pri;
    }
  }
}
