@import 'variables';

.terms {
  text-align: center;

  &__heading {
    margin: 5rem 0;

    @include respond(tab-land) {
      margin-top: 10rem;
    }
  }

  h2 {
    margin: 3rem 0;
    color: $pri;
  }
}
